# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Swift Package Manager
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
